@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'YourCustomFontName';
    src: url('/assets/bb.woff2') format('woff2')
    /* Add more src declarations for different font formats if needed */
}

/* Define font for paragraphs */
@font-face {
    font-family: 'ParagraphFont';
    src: url('/assets/mr.woff2') format('woff2')
}

p, span, a, div {
    font-family: 'ParagraphFont', sans-serif;
}

/* Apply fonts to specific elements */
h1, h2, h3, h4, h5, h6 {
    font-family: 'YourCustomFontName', sans-serif;
}

html {
    scroll-behavior: smooth;
}